* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none; /* делает ссылки как обычный текст */
  color: #020c22;
}

body {
  background-color: blue;
  font-family: arial, sans-serif;
}

.header {
  background: #051945;
}

.logo {
  padding-left: 10%;
}

.nav_logo {
  float: left;
  color: white;
  font-size: 15px;
  line-height: 60px;
  padding-right: 25px;
  margin-right: 11px;
}

.main_menu {

}

.nav {

}

.nav_item {
  display: inline-block; /* отображение пунктов в ряд */
  line-height: 60px; /* высота пунктов */
  font-size: 15px;
}

.nav_link {
  color: white;
  padding: 0 11px;
}

.body {
  background: yellow;
}

.top_news {
  background: white;
  height: 180px;
}

.top_news_in {
  padding-right: 10%;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 10%;
  width: 680px;
}

.top_news_first {
  width: 100%;
  height: 100px;
}

.top_news_text {
  float: left;
  margin-top: 19px;
  margin-bottom: 14px;
  font-size: 22px;
  font-weight: 400;
  width: 73%;
  margin-right: 6%;
}

.top_news_image {
  float: right;
}

.news {
  background: #f8f8f8;
}

.news_in {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 10%;
  width: 680px;
}

.first_news {

}

.news_text {
  font-size: 32px;
  margin-bottom: 10px;
  font-weight: 400;
}

.news_image {
  margin-top: 25px;
}

.second_news {
  display: flex;
  margin-top: 50px;
}

.second_news_left {
  width: 50%;
  float: left;
}

.second_news_text_h3 {
  font-size: 20px;
  line-height: 31px;
  padding-right: 20px;
}

.second_news_images {
  margin-top: 25px;
}

.second_news_right {
  width: 50%;
  float: left;
  margin-left: 40px;
}

.sites {
  background: #e2e3e4;
  padding-top: 30px;
}

.sites_in {
  width: 680px;
  padding-left: 10%;
}

.sites_ul {
  padding: 30px 0 0;
  list-style: none;
  height: 320px;
  overflow: hidden;
}

.sites_item {
  display: inline-block;
  width: 240px;
  height: 146px;
  padding: 23px 27px 10px 29px;
  margin-right: 40px;
  margin-bottom: 40px;
  float: left;
  background: white;
  font-size: 18px;
  line-height: 1.35;
  color: #020c22;
}

.footer {
  background: #020c22;
  padding: 54px 0 56px;
  font-size: 13px;
  color: #9198aa;
}

.footer_in {
  padding-left: 10%;
  width: 680px;
}

.footer_menu {
  margin-bottom: 18px;
}

.footer_column_1 {
  width: 160px;
  float: left;
  margin-bottom: 18px;
  margin-right: 20px;
}

.footer_column_2 {
  width: 160px;
  float: left;
  margin-bottom: 18px;
  margin-right: 20px;
}

.footer_column_3 {
  width: 160px;
  float: left;
  margin-bottom: 18px;
  margin-right: 20px;
}

.footer_column_4 {
  float: right;
  margin-right: 0;
  padding-bottom: 100px;
  width: 140px;
}

.footer_title {
  font-size: 15px;
  color: #f0f4f8;
  line-height: 20px;
  margin-bottom: 32px;
  margin-right: 5px;
}

.footer_list {
  list-style: none;
  line-height: 17px;
}

.footer_item {
  margin-bottom: 8px;
}

.copyright {

}

.copyright_left {
  position: relative;
  top: 1px;
  line-height: 17px;
  max-width: 120px;
}

.copyright_right {
  width: 140px;
  line-height: 17px;
}

.footer_logo {
}
